.conts{
    width: 100%;
    height: 46.9rem;
    margin: 0;
    padding: 3rem;
    background-color: #f3f7f6;
    border-radius: 0.3rem;
}
.ContCurriculum{
    position: relative;
    width: 83rem;
    height: 45rem;
    background: linear-gradient(to right, #4da1a1 0%, #44c4c4 55%, #4a4f4f 55%, #1e1e1f 100%);
    box-shadow: 9px 6px 6px #6d8d92;
    border: 1px solid #6b6a6a;
    border-radius: 0.5rem;
    top: -2.5rem;
    left: -1.5rem;
}
.foto{
    position: absolute;
    width: 10rem;
    height: 13rem;
    border-radius: 10%;
    border: 1px solid #dadfdf;
    left: 3rem;
    top: 2rem;
}
.PrnDtl{
    position: relative;
    width: 28rem;
    margin: 0;
    padding: 0;
    left: 15rem;
    top: 2rem;
}
.PrnDtl h3{
    position: relative;
    font-size: 1.3rem;
    left: 1rem;
}
.PrnDtl span{
    color: #1f1e1e;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}
.PrnDtl ul {
    height: 8rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 0.7fr);
    margin: 0;
    padding: 0;
}
.PrnDtl li {
    list-style: none;
    color: white;
    height: 3.5rem;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}
.itmDpl p {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
}
.PflLbr{
    position: relative;
    left: 3rem;
    top: 6rem;
}
.PflLbr h3{
    font-size: 1.3rem;
    margin: 0;
    padding: 0;

}
.PflLbr p{
    width: 38rem;
    color: white;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    padding-top: 0.5rem;
}

.skills{
    position: absolute;
    left: 50rem;
    top: 2rem;
    width: 30rem;
}
.skills h3{
    font-size: 1.3rem;
    color: #06e0f0;
}
.skills li{
    list-style: none;
    color: white;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.Edct{
    position: absolute;
    width: 40rem;
    left: 50rem;
    top: 25rem;
}
.Edct h3 {
    color: #06e0f0;
    font-size: 1.3rem;
}
.itmEdc{
    list-style: none;
}
.itmEdc strong {
    color: #ffffff;
}
.itmEdc p {
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
    color: #c5c1c1;
}
.itmEdc h4 {
    margin: 0;
    padding: 0;
    padding-bottom: 0.3rem;
    color: #12bcc9;
    font-size: 1.1rem;
}

.EdcFml{
    width: 40rem;
    position: absolute;
    top: 26rem;
    left: 3rem;
}
.EdcFml h3{
    font-size: 1.3rem;
}
.itmEdcFml{
    list-style: none;
}
.itmEdcFml strong{
    color: #ffffff;
}
.itmEdcFml p {
    margin: 0;
    padding: 0;
    padding-bottom: 0.3rem;
    color: #e7e2e2;
}
.itmEdcFml h4{
    margin: 0;
    padding: 0;
    padding-bottom: 0.3rem;
    font-size: 1.1rem;
}

@media screen and (max-width: 500px){
    .conts{
        width: 100%;
        height: 100%;
        margin: 0;
        margin-top: 1.7rem;
        padding: 0;
    }
    .ContCurriculum{
        position: relative;
        width: 30rem;
        height: 100rem;
        background: linear-gradient(to bottom, #4da1a1 0%, #44c4c4 55%, #4a4f4f 55%, #1e1e1f 100%);
    }
    .foto{
        position: absolute;
        width: 6.5rem;
        height: 8.5rem;
        border-radius: 10%;
        border: 1px solid #dadfdf;
        left: 11rem;
        top: 2.5rem;
    }
    .PrnDtl{
        position: relative;
        width: 27rem;
        margin: 0;
        padding: 0;
        left: 1rem;
        top: 11.5rem;
    }
    .PrnDtl h3{
        position: relative;
        font-size: 1.2rem;
        left: 1.8rem;
    }
    .PrnDtl span{
        color: #1f1e1e;
        font-size: 1.1rem;
        margin: 0;
        padding: 0;
    }
    .PrnDtl ul {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 0.5fr);
        margin: 0;
        padding: 0;
    }
    .PrnDtl li {
        position: relative;
        list-style: none;
        color: white;
        height: 2.5rem;
        font-size: 0.9rem;
        margin: 0;
        padding: 0;
        left: -1.3rem;
    }
    .PflLbr{
        position: relative;
        left: 3rem;
        top: 12.8rem;
        width: 19rem;
    }
    .PflLbr h3{
        font-size: 1.2rem;
        margin: 0;
        padding: 0;
    
    }
    .PflLbr p{
        width: 22rem;
        color: white;
        font-size: 0.9rem;
        margin: 0;
        padding: 0;
        padding-top: 0.5rem;
    }
    .EdcFml{
        width: 25rem;
        position: absolute;
        top: 33.5rem;
        left: 3rem;
    }
    .EdcFml h3{
        font-size: 1.2rem;
    
    }
    .itmEdcFml{
        list-style: none;
    }
    .itmEdcFml strong{
        color: #ffffff;
    }
    .itmEdcFml p {
        position: relative;
        left: -1.5rem;
        margin: 0;
        padding: 0;
        padding-bottom: 0.2rem;
        color: #e7e2e2;
    }
    .itmEdcFml h4{
        position: relative;
        left: -1.5rem;
        margin: 0;
        padding: 0;
        padding-bottom: 0.2rem;
        font-size: 0.9rem;
    }
    .skills{
        position: absolute;
        left: 1rem;
        top: 55.8rem;
        width: 30rem;
    }
    .skills h3{
        font-size: 1.2rem;
        color: #06e0f0;
        position: relative;
        left: 1.8rem;
    }
    .skills li{
        list-style: none;
        color: white;
        font-size: 0.9rem;
        margin-bottom: 0.5rem;
    }
    .Edct{
        position: absolute;
        width: 20rem;
        left: 2rem;
        top: 74.5rem;
    }
    .Edct h3 {
        position: relative;
        left: 1rem;
        color: #06e0f0;
        font-size: 1.3rem;
    }
    .itmEdc{
        list-style: none;
    }
    .itmEdc strong {
        color: #ffffff;
    }
    .itmEdc p {
        margin: 0;
        padding: 0;
        padding-bottom: 0.5rem;
        color: #c5c1c1;
    }
    .itmEdc h4 {
        margin: 0;
        padding: 0;
        padding-bottom: 0.3rem;
        color: #12bcc9;
        font-size: 0.9rem;
    }
}